

.btn-group{
    padding-top: 200px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
}

.container-fluid2 {
  padding-top: 25px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

}

.col-md-2 {
  height: 400px;
  width: 200px;
}

.col-md-6 {
  height: 400px;
  width: 600px;
  padding-left: 15px;

