/* Nav Bar */
/* Pythia Main Style */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body
.row, body
.nav_bar_row_index {
  margin-bottom: 20px;
  padding: 0;
  *zoom: 1; }
  body
  .row:after, body
  .nav_bar_row_index:after, body
  .row:before, body
  .nav_bar_row_index:before {
    content: " ";
    display: table; }
  body
  .row:after, body
  .nav_bar_row_index:after {
    clear: both; }
  body
  .row > [class*='col-']:first-child, body
  .nav_bar_row_index > [class*='col-']:first-child {
    margin-left: 0; }
  body
  .row > [class*='col-']:last-child, body
  .nav_bar_row_index > [class*='col-']:last-child {
    margin-right: 0; }

[class*="col-"], .nav_bar_col_index {
  float: left;
  min-height: 1px;
  padding: 30px; }

[class*="offset-"] {
  float: left;
  min-height: 1px;
  padding: 30px; }

.col-1-16 {
  width: 6.25%; }

.col-2-16 {
  width: 12.5%; }

.col-3-16 {
  width: 18.75%; }

.col-4-16 {
  width: 25%; }

.col-5-16 {
  width: 31.25%; }

.col-6-16 {
  width: 37.5%; }

.col-7-16 {
  width: 43.75%; }

.col-8-16 {
  width: 50%; }

.col-9-16 {
  width: 56.25%; }

.col-10-16 {
  width: 62.5%; }

.col-11-16 {
  width: 68.75%; }

.col-12-16 {
  width: 75%; }

.col-13-16 {
  width: 81.25%; }

.col-14-16 {
  width: 87.5%; }

.col-15-16 {
  width: 93.75%; }

.col-16-16 {
  width: 100%; }

.offset-1-16 {
  width: 6.25%; }

.offset-2-16 {
  width: 12.5%; }

.offset-3-16 {
  width: 18.75%; }

.offset-4-16 {
  width: 25%; }

.offset-5-16 {
  width: 31.25%; }

.offset-6-16 {
  width: 37.5%; }

.offset-7-16 {
  width: 43.75%; }

.offset-8-16 {
  width: 50%; }

.offset-9-16 {
  width: 56.25%; }

.offset-10-16 {
  width: 62.5%; }

.offset-11-16 {
  width: 68.75%; }

.offset-12-16 {
  width: 75%; }

.offset-13-16 {
  width: 81.25%; }

.offset-14-16 {
  width: 87.5%; }

.offset-15-16 {
  width: 93.75%; }

.offset-16-16 {
  width: 100%; }

.nav_bar_row_index {
  background-color: #e7e3e4;
  min-height: 40px;
  text-align: center; }

.nav_bar_col_index {
  display: table-cell;
  height: 50px;
  vertical-align: middle; }
