
.icon-mail:before { content: '\e800'; } /* '' */
.icon-mail-alt:before { content: '\e801'; } /* '' */
.icon-mail-squared:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-heart-empty:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-star-empty:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-user-plus:before { content: '\e808'; } /* '' */
.icon-users:before { content: '\e809'; } /* '' */
.icon-picture:before { content: '\e80a'; } /* '' */
.icon-camera:before { content: '\e80b'; } /* '' */
.icon-th:before { content: '\e80c'; } /* '' */
.icon-th-list:before { content: '\e80d'; } /* '' */
.icon-ok:before { content: '\e80e'; } /* '' */
.icon-plus:before { content: '\e80f'; } /* '' */
.icon-minus:before { content: '\e810'; } /* '' */
.icon-help:before { content: '\e811'; } /* '' */
.icon-home:before { content: '\e812'; } /* '' */
.icon-link:before { content: '\e813'; } /* '' */
.icon-link-ext:before { content: '\e814'; } /* '' */
.icon-attach:before { content: '\e815'; } /* '' */
.icon-lock:before { content: '\e816'; } /* '' */
.icon-lock-open:before { content: '\e817'; } /* '' */
.icon-lock-open-alt:before { content: '\e818'; } /* '' */
.icon-pin:before { content: '\e819'; } /* '' */
.icon-tag:before { content: '\e81a'; } /* '' */
.icon-tags:before { content: '\e81b'; } /* '' */
.icon-download:before { content: '\e81c'; } /* '' */
.icon-upload:before { content: '\e81d'; } /* '' */
.icon-reply:before { content: '\e81e'; } /* '' */
.icon-reply-all:before { content: '\e81f'; } /* '' */
.icon-forward:before { content: '\e820'; } /* '' */
.icon-pencil:before { content: '\e821'; } /* '' */
.icon-edit:before { content: '\e822'; } /* '' */
.icon-comment:before { content: '\e823'; } /* '' */
.icon-chat:before { content: '\e824'; } /* '' */
.icon-comment-empty:before { content: '\e825'; } /* '' */
.icon-chat-empty:before { content: '\e826'; } /* '' */
.icon-trash:before { content: '\e827'; } /* '' */
.icon-trash-empty:before { content: '\e828'; } /* '' */
.icon-folder:before { content: '\e829'; } /* '' */
.icon-folder-open:before { content: '\e82a'; } /* '' */
.icon-folder-empty:before { content: '\e82b'; } /* '' */
.icon-folder-open-empty:before { content: '\e82c'; } /* '' */
.icon-menu:before { content: '\e82d'; } /* '' */
.icon-cog:before { content: '\e82e'; } /* '' */
.icon-cog-alt:before { content: '\e82f'; } /* '' */
.icon-wrench:before { content: '\e830'; } /* '' */
.icon-login:before { content: '\e831'; } /* '' */
.icon-logout:before { content: '\e832'; } /* '' */
.icon-search:before { content: '\e833'; } /* '' */