{% extends "layout.html" %}
{% block content %} 

<body>

<div>
    <form method="POST">
    {{ loginform.hidden_tag() }}
    {{ loginform.logusername(class="loginform") }}
    {{ loginform.logpassword(class="loginform") }}

    <button type="submit" >
      <span class = "icon-login"></span>
    </button>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    </form>
</div>


<script type="text/javascript" charset="utf-8">
//  var div = document.createElement('button');
//  div.innerText = "Register";
//  div.setAttribute('id', 'return');
//  div.setAttribute('style', 'float: right');
//  document.body.appendChild(div);

//  var button = document.getElementById("return");
//  button.addEventListener('click', function() {
//    window.location = "/signup";
//  }); 
</script>


<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">The Pythia Project</a>
    </div>
  </div>
</nav>

</body>

{% endblock %}