<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" type="text/css" href="/static/fontello/css/fontello.css">
<link rel="stylesheet" type="text/css" href="/static/css/theme.css">
<link rel="stylesheet" type="text/css" href="/static/css/grid.css">
<link rel="stylesheet" type="text/css" href="/static/css/background_image.css">
<link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
<link rel="stylesheet" type="text/css" href="/static/css/message.css" media="screen" />
<script src="/static/js/theme.js"></script>
<script src="/static/js/underscore-min.js"></script>
<script src="/static/js/zepto.min.js"></script>

<title>Pythia</title>

</head>

{% block content %}
{% endblock %}

</html>