<!DOCTYPE html>
<html lang="en">
<head>

<link rel="stylesheet" type="text/css" href="/static/css/theme.css">
<link rel="stylesheet" type="text/css" href="/static/css/grid.css">
<link rel="stylesheet" type="text/css" href="/static/css/background_image.css">
<link rel="stylesheet" type="text/css" href="/static/css/navbar.css">

  

<title>Pythia</title>

</head>


<body>

<!-- Nav Bar Here -->
    <div class = "nav_bar_row_index">
            <div class = "nav_bar_col_index col-1-16"><a href="/"> Pythia</a></div>
            <div class = "nav_bar_col_index offset-10-16"></div>
            <div class = "nav_bar_col_index col-1-16"><a href="/profile">Profile</a></div>
            <div class = "nav_bar_col_index col-1-16"><a href="/message">Inbox</a></div>
            <div class = "nav_bar_col_index col-1-16"><a href="/search">Search</a></div>
            <div class = "nav_bar_col_index col-2-16"><a href="/logout">Log Out</a></div> 
    </div>

<!-- End Nav Bar -->



  {% block content %}
  {% endblock %}
  </body>
</html>