<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" type="text/css" href="/static/fontello/css/fontello.css">
<link rel="stylesheet" type="text/css" href="/static/css/theme.css">
<link rel="stylesheet" type="text/css" href="/static/css/grid.css">
<link rel="stylesheet" type="text/css" href="/static/css/background_image.css">
<link rel="stylesheet" type="text/css" href="/static/css/navbar.css">

  

<title>Pythia</title>

</head>

<body>
<!-- Nav Bar Here -->
    <div class = "nav_bar_row_index">
      <div class = "nav_bar_col_index col-1-16"><a href="/"><span class = "icon-th-list black"></span></a></div>
      <div class = "nav_bar_col_index offset-11-16"></div>
      <div class = "nav_bar_col_index col-1-16"><a href="/profile"><span class = "icon-user"></span></a></div>
      <div class = "nav_bar_col_index col-1-16"><a href="/message"><span class = "icon-mail"></span></a></div>
      <div class = "nav_bar_col_index col-1-16"><a href="/search"><span class = "icon-search"></span></a></div>
      <div class = "nav_bar_col_index col-1-16"><a href="/logout"><span class = "icon-logout"></span></a></div>


    </div>

<!-- End Nav Bar -->



  {% block content %}
  {% endblock %}
  </body>
</html>