{% extends "layout.html" %}
{% block content %}   

<script>
// update navbar button to active state
$(document).ready(function () {
  $(".nav li").removeClass("active");//this will remove the active class from  

  $('#message').addClass('active');
});
</script>


<div class="row">
  <div class="col-md-8">
      <div class="panel">
        <div class="panel-heading">
          <div class="panel-body">
            <div class="col-md-2 btn-group" id="conversation_list"></div>
              <div class="col-md-10"> 
                <textarea id="chat" class="form-control" rows="20" readonly="readonly"></textarea>
              </div>              
          </div>
          <div class="panel-body">
            <div class="col-md-2" id="offset"></div>
            <div class="col-md-10">
              <textarea id="inputmessage" class="form-control" rows="4" placeholder="Press enter to send a message..."></textarea>
            </div>
          </div>
        </div>
      </div>  
  </div>
</div>




<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

<script type="text/javascript" charset="utf-8">
  var socket = io.connect();
  socket.on('connect', function() {
    console.log("Sending a test message to the server");
    socket.emit('get_conversation')
  });
</script>

<script type="text/javascript" charset="utf-8">
  socket.on('userconvo', function(convo_user) {
    var convo_user = convo_user;
      for (var i in convo_user) {
        var dic = convo_user[i];
        var div = document.createElement('button');
        div.innerText = dic['user_id'];
        div.setAttribute('type', 'button');
        div.setAttribute('class', 'btn btn-default btn-block');
        div.setAttribute('id', dic['conversation_id']);
        div.setAttribute('value', dic['conversation_id']);
        document.body.appendChild(div);
        document.getElementById('conversation_list').appendChild(div);
        
        $('#conversation_list button').click(function() {
        $(this).addClass('active').siblings().removeClass('active');
        });

        var button = document.getElementById(dic['conversation_id']);
        button.addEventListener('click', function(e) {
          var x = e.target.value
          socket.emit('conversation', {conversation: x });
        });
      }

      $( "button" ).first().addClass('active').siblings().removeClass('active');

        // Checks if user conversations exist. If yes, propogate the chat box with latest conversation.
      if (0 < convo_user.length) {
        var z = convo_user[0]["conversation_id"];
        socket.emit('conversation', {conversation: z });
      }
    });

</script>

<script type="text/javascript" charset="utf-8">
  socket.on('newmessage', function(messages) {
    document.getElementById('chat').innerHTML = "";
      for (var i in messages) {
        var dic = messages[i];
        var r = document.createTextNode(dic['timestamp']+"  "+dic['user_id']+"  "+dic['message']+"\n");
        document.getElementById('chat').appendChild(r);
      }
    });
</script>

<script type="text/javascript" charset="utf-8">
  var socket = io.connect();
  socket.on('newconvo', function() {
    console.log("reload");
    location.reload();
    });
</script>


<script type="text/javascript" charset="utf-8">

  document.getElementById('inputmessage').onkeypress = function(e){
    if (!e) e = window.event;
    var keyCode = e.keyCode || e.which;
    if (keyCode == '13'){
      var x = document.getElementsByClassName('btn btn-default active')[0].textContent;
      var y = document.getElementById('inputmessage').value;
      console.log("User sent a message to the server");
      socket.emit('message', {to_user: x}, {message: y});
      return false;
    }
  }
</script>


{% endblock %}