{% extends "layout.html" %}
{% block content %}   


<body>

<div class = "nav_bar_row_index"> 
      <div class = "nav_bar_col_index col-1-24"><a href="/"><span class = "icon-th-list"></span></a></div>
      <div class = "nav_bar_col_index offset-19-24"></div>
      <div class = "nav_bar_col_index col-1-24"><a href="/profile"><span class = "icon-user"></span></a></div>
      <div class = "nav_bar_col_index col-1-24"><a href="/message"><span class = "icon-mail"></span></a></div>
      <div class = "nav_bar_col_index col-1-24"><a href="/search"><span class = "icon-search"></span></a></div>
      <div class = "nav_bar_col_index col-1-24"><a href="/logout"><span class = "icon-logout"></span></a></div>
  </div>



<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>


{% for conversation in conversations %}
        <button class=togglebutton>{{conversation}}</button>
      {% endfor %}

        <script type="text/javascript" charset="utf-8">
        
          var socket = io.connect('http://' + document.domain + ':' + location.port);

          socket.on('message_delivery', function(messages) {

                   {% for message in messages %}
                    <li>{{message}}</li>
                    {% endfor %}
            });
          </script>


          <script type="text/javascript" charset="utf-8">

          socket.on('connnect', function() {
          var socket = io.connect('http://' + document.domain + ':' + location.port);
            $(document).ready(function(){
              $('.togglebutton').click, function()) {
                console.log('sending conversation id')
                socket.emit('conversation', {data: ${{conversation}}  });
              });
              });
      
        </script>

  

    



<div class="row">
    <div class="col-8-24">
            <form method="POST">
            {{ conversationform.hidden_tag() }}
            <p>{{ conversationform.conversationtitle.label }} {{ conversationform.conversationtitle() }} </p>
            {{ conversationform.conversationsubmit }}
            </form>
    </div>
    </div>




<div class="row">
    <div class="col-8-24">
            <form method="POST">
            {{ messageform.hidden_tag() }}
            <p>{{ messageform.msgusername.label }} {{ messageform.msgusername() }} </p>
            <p>{{ messageform.message.label }} {{ messageform.message() }} </p>
            {{ messageform.messagesubmit }}
            </form>

    </div>
    </div>




</body>

{% endblock %}