{% extends "layout.html" %}
{% block content %}   

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>


<script>
// update navbar button to active state
$(document).ready(function () {
  $(".nav li").removeClass("active");//this will remove the active class from  

  $('#profile').addClass('active');
});
</script>

<div class="row">
    <div class="col-md-4">
         <div class="panel">
             <div class="panel-heading"></div>
                <div class="panel-body">
                  <p>Profile Picture</p>
                  <form action = "http://localhost:5000/uploader" method = "POST" enctype = "multipart/form-data">
                  <input type = "file" name = "file" />
                  <input type = "submit"/>
                  </form>
               </div>
          </div>
    </div>
    <div class="col-md-4">
         <div class="panel">
             <div class="panel-heading"></div>
                <div class="panel-body">
                  <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control" rows="10" id = "description" style="border: none"></textarea>
                  </div>
                </div>
          </div>
    </div>
    <div class="col-md-4">
         <div class="panel">
             <div class="panel-heading"></div>
                <div class="panel-body">
                  <div class="form-group">
                    <label for="intetests">Interests:</label>
                    <textarea class="form-control" rows="10" id = "interests" style="border: none"></textarea>
                  </div>
                </div>
          </div>
    </div>
</div>


<script type="text/javascript" charset="utf-8">
  var socket = io.connect();
  socket.on('connect', function() {
    console.log("Sending a test message to the server");
    socket.emit('get_profileinfo', {user: "{{username}}"});
  });
</script>

<script type="text/javascript" charset="utf-8">
  document.getElementById("description").addEventListener("change", description_update);
  function description_update() {
    var x = document.getElementById("description").value;
    socket.emit('profilestore', {description: x});
  }
</script>

<script type="text/javascript" charset="utf-8">
  document.getElementById("interests").addEventListener("change", interests_update);
  function interests_update() {
    var w = document.getElementById("interests").value;
    var x = w.split(" ");
    socket.emit('intereststore', {interest: x});
  }
</script>

<script type="text/javascript" charset="utf-8">
  socket.on('load_profiledes', function(descriptions) {
  document.getElementById('description').innerHTML = "";
    for (var i in descriptions) {
      var r = document.createTextNode(descriptions);
      document.getElementById('description').appendChild(r);
    }
  });

  socket.on('load_profileint', function(user_interests) {
  document.getElementById('interests').innerHTML = "";
    for (var i in user_interests) {
      var r = document.createTextNode(user_interests[i]+" ");
      document.getElementById('interests').appendChild(r);
    }
  });
</script>


{% endblock %}