{% extends "layout.html" %}
{% block content %}   



<div class = "nav_bar_row_index"> 
      <div class = "nav_bar_col_index col-1-24"><a href="/"><span class = "icon-th-list color: black"></span></a></div>
      <div class = "nav_bar_col_index offset-19-24"></div>
      <div class = "nav_bar_col_index col-1-24"><a href="/profile"><span class = "icon-user"></span></a></div>
      <div class = "nav_bar_col_index col-1-24"><a href="/message"><span class = "icon-mail"></span></a></div>
      <div class = "nav_bar_col_index col-1-24"><a href="/search"><span class = "icon-search"></span></a></div>
      <div class = "nav_bar_col_index col-1-24"><a href="/logout"><span class = "icon-logout"></span></a></div>
  </div>


  <!-- Main Entry Here -->
    <div class="jumbotron">
      <div class="container">
        <h1>Pythia</h1>
        <p>This is a profile page</p>
        <p>Hi {{ current_user.username }}</p>
      </div>
    </div>
  <!-- End Main Entry -->


  {% endblock %}