{% extends "layout.html" %}
{% block content %} 


<script>
// update navbar button to active state
$(document).ready(function () {
  $(".nav li").removeClass("active");//this will remove the active class from  

  $('#search').addClass('active');
});
</script>



<div class="row">
  <div class="col-md-2">
      <div class="panel">
        <div class="panel-heading">
          <div class="panel-body">
            <p align="center"><strong>Interest Match</strong></p>
            <div class="col-md-12 btn-group" id="matches"></div>
          </div>
        </div>
      </div>  
  </div>
</div>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

<script type="text/javascript" charset="utf-8">
  var socket = io.connect();
  socket.on('connect', function() {
    console.log("Test connection for search page");
    socket.emit('get_user_match')
    });
</script>

<script type="text/javascript" charset="utf-8">
socket.on('match_list', function(matches) {
  var matches = matches;
  for (var i in matches) {
    var username = matches[i]
    var div = document.createElement('button');
    div.innerText = username;
    div.setAttribute('type', 'button');
    div.setAttribute('class', 'btn btn-default btn-block');
    div.setAttribute('id', username);
    div.setAttribute('value', username);
    document.getElementById('matches').appendChild(div);


    var button = document.getElementById(username);  
    button.addEventListener('click', function(e) {
      var x = e.target.value
      window.location.href = "/profile/"+x;
            });
          }
        });
</script>


{% endblock %}