{% extends "layout.html" %}
{% block content %} 


<script>
// update navbar button to active state
$(document).ready(function () {
  $(".nav li").removeClass("active");//this will remove the active class from  

  $('#search').addClass('active');
});
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

<script type="text/javascript" charset="utf-8">
  var socket = io.connect();
  socket.on('connect', function() {
    console.log("Test connection for search page");
    socket.emit('get_user_match')
    });
</script>

<script type="text/javascript" charset="utf-8">
var div = document.createElement('label');
div.textContent = "List of users with whom I have interests in common:";
div.setAttribute('style', 'width:50px')
document.body.appendChild(div);

document.write('<br>');
document.write('<br>');
document.write('<br>');

socket.on('match_list', function(matches) {
  var matches = matches;
  for (var i in matches) {
    var username = matches[i]
    var div = document.createElement('button');
    div.innerText = username;
    div.setAttribute('id', username);
    div.setAttribute('value', username);
    div.setAttribute('style', 'width:75px')
    document.body.appendChild(div);

    var button = document.getElementById(username);  
    button.addEventListener('click', function(e) {
      var x = e.target.value
      window.location.href = "/profile/"+x;
            });
          }
        });
</script>


{% endblock %}