{% extends "layout.html" %}
{% block content %} 

  <!-- Main Entry Here -->
.btn-group-lg{
    padding-top: 400px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
}

<div class="btn-group-lg btn-group-justified">
  <div class="btn-group">
    <button type="button" class="btn btn-primary">People</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-primary">Places</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-primary">Things</button>
  </div>
  <!-- End Main Entry -->



</div>

{% endblock %}