{% extends "layout.html" %}
{% block content %} 

<div class="jumbotron">
      <div class="container">
        <h1>Pythia</h1>
        <p>The minimal social network</p>
      </div>
    </div>



<form method="POST">
            {{ form.hidden_tag() }}
            <p>{{ form.firstname.label }} {{ form.firstname() }} </p>
            <p>{{ form.lastname.label }} {{ form.lastname() }} </p>
            <p>{{ form.username.label }} {{ form.username() }} </p>
            <p>{{ form.email.label }} {{ form.email() }} </p>
            <p>{{ form.password.label }} {{ form.password() }} </p>

            {{ form.submit }}
        </form>


{% endblock %}
