{% extends "layout.html" %}
{% block content %} 


 

<div class="row">
    <div class="col-8-24">
            <form method="POST">
            {{ signupform.hidden_tag() }}
            <p>{{ signupform.firstname.label }} {{ signupform.firstname() }} </p>
            <p>{{ signupform.lastname.label }} {{ signupform.lastname() }} </p>
            <p>{{ signupform.username.label }} {{ signupform.username() }} </p>
            <p>{{ signupform.email.label }} {{ signupform.email() }} </p>
            <p>{{ signupform.password.label }} {{ signupform.password() }} </p>
            {{ signupform.submit }}
            </form>
    </div>
    <div class ="offset-4-24"></div>
    <div class="col-8-24">
            <form method="POST">
            {{ loginform.hidden_tag() }}
            <p>{{ loginform.logusername.label }} {{ loginform.logusername() }} </p>
            <p>{{ loginform.logpassword.label }} {{ loginform.logpassword() }} </p>
            {{ loginform.logsubmit }}
            <br>
            <br>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
            </form>
    </div>

    
</div>




{% endblock %}
