/* Nav Bar */

@import 'grid.scss';

.nav_bar_row_index {
  @extend .row;
  min-height: 40px;
  text-align: center;
}

.nav_bar_col_index {
  @extend [class*="col-"];
  display: table-cell;
  height: 50px;
  vertical-align: middle;
}
